---
---

<div class="flex space-x-4">
  <a href="https://github.com/roxrap" target="_blank" rel="noopener" aria-label="GitHub">
    <Icon class="h-8 hover:text-orange dark:hover:text-orange md:h-12" name="mdi:github" size={100} />
  </a>
  <a href="https://www.linkedin.com/in/roxana-rapali/" target="_blank" rel="noopener" aria-label="LinkedIn">
    <Icon class="h-8 hover:text-orange dark:hover:text-orange md:h-12" name="mdi:linkedin" size={100} />
  </a>
  <a href="https://wa.me/5493425018700" target="_blank" rel="noopener" aria-label="WhatsApp">
    <Icon class="h-8 hover:text-orange dark:hover:text-orange md:h-12" name="mdi:whatsapp" size={100} />
  </a>
</div>
