---
import { Icon } from 'astro-icon/components';
---

<a href="https://github.com/roxrap" target="_blank" rel="noopener" aria-label="GitHub">
	<span class="h-8 hover:text-orange dark:hover:text-orange md:h-12">GitHub</span>
</a>

<a href="https://www.linkedin.com/in/roxana-rapali/" target="_blank" rel="noopener" aria-label="LinkedIn">
	<span class="h-8 hover:text-orange dark:hover:text-orange md:h-12">LinkedIn</span>
</a>

<a href="https://wa.me/5493425018700" target="_blank" rel="noopener" aria-label="WhatsApp">
	<span class="h-8 hover:text-orange dark:hover:text-orange md:h-12">WhatsApp</span>
</a>
